*.cfi
*.xsl
*.gise
*.mcs
*.prm
*.svf
*.xsvf
*.xwbt
*.ipf
*.xdb
*.xml
*.bgn
*.bit
*.bld
*.drc
*.cmd_log
*.html
*.ncd
*.lso
*.map
*.mrp
*.ncd
*.ngm
*.xrpt
*.ngc
*.ngd
*.par
*.csv
*.pcf
*.ptwx
*.stx
*.syr
*.ut
*.unroutes
*.txt
*.twx
*.twr
*.xpi
*.xst
*.mcs
*.prm
*.ngr
*.pad
impact_xdb
ipcore_dir
iseconfig
_ngo
xlnx_auto_0_xdb
_xmsgs
xst
